# Fichiers d'environnement contenant des informations sensibles
.env
.env.*
!.env.example

# Base de données
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log

# Fichiers cache Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environnements virtuels
venv/
ENV/

# Fichiers IDE
.idea/
.vscode/
*.swp
*.swo

# Fichiers système
.DS_Store
Thumbs.db
